:root {
  --pico-font-family-sans-serif: sans-serif;
  --pico-font-size: 120%;
}

header {
  --pico-font-family: "Josefin Sans", sans-serif;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}
