:root {
  --pico-font-family-sans-serif: sans-serif;
}

:host {
  --pico-font-size: 120%;
}

h1 {
  --pico-font-family: "Josefin Sans", sans-serif;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}
